$containerWidth:940px;
$baseFontSize: 16px;

//breakpoints

$tablets: 768px;
$phones: 480px;

// colors
$gray: #F5F5F5;
$hoverRed: #CA1B36;
$red: #E01F3D;

$fontAlegreya: 'Alegreya Sans', sans-serif;

//z-indexes
$z-fixed-menu: 100;


@import 'lay/normalize';
@import 'lay/fonts';
@import 'lay/media.scss';


@import 'lay/base.scss';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/contacts.scss';
@import 'blocks/logo.scss';
@import 'blocks/button.scss';
@import 'blocks/fixed-menu.scss';
@import 'blocks/why.scss';
@import 'blocks/reviews.scss';
@import 'blocks/delivery.scss';
@import 'blocks/hero.scss';
@import 'blocks/features.scss';
@import 'blocks/feature.scss';
@import 'blocks/form.scss';
@import 'blocks/delivery.scss';
@import 'blocks/radio.scss';
@import 'blocks/hamburger.scss';
@import 'blocks/map.scss';
@import 'blocks/footer.scss';
@import 'blocks/socials.scss';