.delivery{
    padding: 68px 80px 85px 80px;
    display: flex;
    align-items: center;
    background: url('../img/bgdel.png');
    background-size: cover;
    min-height: 650px;
}

.delivery__title{
    font-weight: 700;
    font-size: 48px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
}