.reviews{
    display: flex;
    flex-direction: column;
    min-height: 650px;
}
.reviews__title{
    justify-content: center;
    display: flex;
    font-size: 48px;
    margin-top: 64px;
    margin-bottom: 32px;
    font-weight: 700;
}

.review__block{
    background:  #F5F5F5;
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;

    &::before{
        content: "";
        height: 79px;
        width: 79px;
        border-radius: 50%;
        background: white;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
    }
}

.review__img{
    margin: 42px;
}

.reviews__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.review__desc{
    width: 498px;
}

.review__subtitle{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 27px;
    margin-top: 74px;
}

.review__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 38px;
}

.review__name{
    font-weight: 700px;
    font-size: 18px;
    color: black;
}

.review__icons{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.review__icon {
    width: 74px;
    height: 74px;
    border-radius: 50%; 
    border: 5px solid transparent;
    &--active{
        border: 5px solid red;
    }
}