.contacts{
    font-style: normal;
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.contacts__links{
    font-size: 18px;
    color: #292929;
}

.contscts__icon{
    margin-right: 7px;
}