.crew__list{
    display: flex;
}

.crew__info-title{
    display: flex;
}

.crew__icon{
    height: 10%;
    width: 10%;
}

.crew__info-subtitle{
    height: 0;
    overflow: hidden;
}