.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: rem(25px);
}

.header .header__contacts{
    @include tablets{
        display: none;
    }
}