.hero{
    padding-top: rem(24px);
    background-color: $gray;
    padding-bottom: rem(66px);
    position: relative;

    &::before{
        position: absolute;
        bottom: rem(-40px);
        right: 20%;
        content: url("../img/herodecor.png");
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background:url("../img/hph.png") right center / 52% auto no-repeat;

    @include tablets{
        background: none;
    }
}

.hero__title-section{
    width: 46%;

    @include tablets{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before{
            content: "";
            width: rem(316px);
            height: rem(330px);
            background: url("../img/hph.png") center center /contain no-repeat;
            margin-bottom: rem(16px);
        }
    }
}

.hero__icons-section{
    @include tablets{
        display: none;
    }
}

.hero__title{
    font-size: rem(48px);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: rem(22px);
    text-transform: uppercase;
}

.hero__text{
    font-family: $fontAlegreya;
    line-height: 1.2;
    font-size: rem(21px);
    margin-bottom: rem(36px);
    padding-right: 10%;

    @include tablets{
        padding: 0 25%;
    }

    @include phones{
        padding: 0 16%;
    }
}

.hero__button{
    margin-bottom: rem(70px);
}