.reviews__content{
    display: flex;
    flex-direction: column;
    margin-bottom: rem(32px);
}

.reviews__title{
    text-align: center;
    margin-bottom: rem(32px);
}

.review{
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: opzcity 0.3s;
}

.review__block{
    background:  #F5F5F5;
    opacity: 0;
    left: -999px;
    display: flex;
    margin-bottom: rem(15px);
    overflow: hidden;
    position: relative;
    padding: rem(42px);
    min-height: 19.5rem;

    @include tablets{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: rem(56px) rem(24px) rem(40px);
        margin-bottom: rem(32px);
    }


    &::before{
        content: "";
        height: rem(79px);
        width: rem(79px);
        border-radius: 50%;
        background: white;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-55px);
    }

    &--active{
        opacity: 1;
        left: initial;
        position: relative;
    }
}

.review__img{
    width: rem(253px);
    height: rem(264px);
    margin-right: rem(35px);

    @include tablets{
    width: rem(130px);
    height: rem(132px);
    margin-right: 0;
    margin-bottom: rem(32px);
    }

    @include phones{
        margin-bottom: 1.2rem;
    }
}

.review__photo{
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.review__desc{
    max-width: rem(456px);
    padding-top: rem(33px);

    @include tablets{
        padding-top: 0;
        max-width: auto;
    }
}

.review__subtitle{
    font-weight: 700;
    font-size: rem(24px);
    line-height: 1.16;
    margin-bottom: rem(27px);

    @include tablets{
        margin-bottom: rem(16px);
    }

    @include phones{
        margin-bottom: 0.5rem;
    }
}

.review__text{
    line-height: 1.2;
    color: #666;
    margin-bottom: rem(38px);

    @include tablets{
        margin-bottom: rem(16px);
    }
}

.review__name{
    font-weight: 700;
    font-size: rem(18px);
    line-height: 1.16;
    color: black;
}

.review__icons{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.review__icon {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%; 
    border: rem(5px) solid transparent;
    &--active{
        border: rem(5px) solid red;
    }
}